@import 'variables';

*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: aqua;

}

p {
    margin-bottom: 0;
}

img {
    border: none;
    
}

header, footer, main {
    margin: auto;
    max-width: 1920px;
}


a {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

.container {
    padding: 0 clamp(20px, 4vw, 90px);
}

.header {
    position: relative;
    z-index: 3;

    nav {
        z-index: 3;
    }

    &__bg {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: auto;

    }
    
    &__wrapper {
        display: flex; 
        justify-content: space-between;
        align-items: center;  
    }


}

.logo {
    display: block;
    width: clamp(50px, 10vw, 134px);
    height: clamp(30px, 2.6vw, 80px);
    z-index: 3;

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

.menu {
    &__list {
        display: flex;
        gap: $size-20px;
    }

    &__item {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: clamp(5px, 1vw, 18px);
        color: $blue-color;
    }
}

.promo {
    padding-top: $size-80px;
    background: $dark-blue-color;
    background-image: url("../img/promo-bg-image.png");
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: 60%;

    &__wrapper {
        margin-bottom: $size-20px;
        display: flex;
        gap: 4%;
    }

    &__photo {
        width: 54%;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        padding-top: clamp(20px,14vw,268px);
        width: 40%;
    }

    &__title {
        margin-bottom:  clamp(10px,8vw,155px);
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: $size-50px;
        color: #ffffff;
    }

    &__buttons {
        display: flex;
        gap: $size-30px;
    }

    
}

.promo, .benefits, .services, .commits {
    &__bottom {
        object-fit: contain;
        object-position: bottom;
        width: 100%;
        height: 100%;


        img {
            vertical-align: bottom;
            width: 100%;
            height: 100%;
        }
    }
}

.button {
    position: relative;
    height: clamp(20px, 3vw, 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-size: clamp(8px, 1vw, 20px);
    line-height: 1.3;
    color: #FFFFFF;
    text-transform: uppercase;

    span {
        vertical-align: middle;
    }

    
    &_light-blue {
        border-radius: $size-30px;
        width: clamp(60px, 12vw, 220px);
        background: #84E1FF;
    }

    &_telegram {
        background: #FFAEF7;
    }

    &_whatsapp {
        background: #8AFF9D;
    }

    &_vk {
        background: #FFD686;
    }

    &_profi {
        width: clamp(50px,  10vw, 200px);
        background: #ffffff;
        border-radius: $size-30px;
    }

    &_social {
        width: clamp(20px, 3vw, 80px);
        border-radius: 100%;
    }


    &__social-img {
        display: block;
        text-align: center;
        width: 80%;
        height: 80%;
       

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }


    &__svg-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .8s ease-in-out;

        rect, circle {
            transition: all .8s ease-in-out;
        }


    }

    &:hover {
        .button__svg-hover {
            width: 146%;
            height: 146%;

            rect, circle {
                stroke-width: 4;
                stroke-dasharray:3 10;
            }
        }
    }
}

.benefits {
    padding-top: $size-80px;
    background: #ffffff;
    min-height: 500px;

    &__items {
        margin-bottom: $size-80px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: $size-50px;
    }

    &__item {
        position: relative;
        height: clamp(100px, 18vw, 346px);
        font-weight: 400;
        font-style: normal;
        color: #ffffff;
        line-height: 1;
    }
    
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;

    transition: all .8s ease-in-out;
    
    &__upper {
        position: absolute;
        padding: $size-15px;
        border-radius: $size-30px;
        width: 100%;
        height: 100%;
        background-color: #2561A8;
        background-image: url("../img/benefit-bg-imagine.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 3;
        transition: all .8s ease-in-out;
    }
 

    &__text {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $size-30px;
        border: 2px dotted #ffffff;
        font-family: "Pangolin", cursive;
        font-size: $size-30px;
        text-align: center;
        transition: all .8s ease-in-out;
    }   
}

.sub-card {
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 40px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-radius: $size-50px;
    font-family: "Roboto", sans-serif;
    font-size: $size-30px;
    height: 2px;  
    opacity: 0;
    z-index: 0;  
    background: #FFECFD;
    text-align: center;
    color: #0663CF;
    transition: all .8s ease-in-out;
}

.benefits__item:hover { 
    .card {
        z-index: 1;

        &__upper {
            border-bottom-left-radius: 60%;
            border-bottom-right-radius: 60%;
        }

        &__text {
            border-bottom-left-radius: 60%;
            border-bottom-right-radius: 60%;
        }
    }

    .sub-card {
        padding-top:  calc(clamp(100px, 18vw, 346px) + 10px);
        border-radius: $size-30px;
        height: auto;  
        opacity: 1;
        z-index: 1;  
    }
}


.services {
    padding-top: $size-80px;
    min-height: 10px;
    background-color: #FFFCEA;
}

.commits {
    background: #2561A8;
}


