$blue-color: #60A7FA;
$dark-blue-color: #2562A9;

$black-color: #141222;
$grey-border-color: #DCE1E3;
$dark-background: #003A49;
$white-color: #FFFFFF;
$light-blue-background: #007392;
$size-70px: clamp(20px, 4.86vw, 90px);
$size-80px: clamp(20px,6vw,110px);
$size-30px: clamp(3px, 1.8vw, 34px);
$size-60px: clamp(30px, 4.16vw, 80px);
$size-50px: clamp(10px, 3.46vw, 66px);
$size-40px: clamp(5px, 2.8vw, 53px);
$size-20px: clamp(5px, 1.38vw, 26px);
$size-14px: clamp(3px, 1vw, 19px);
$size-15px: clamp(5px, 1vw, 18px);
$size-24px:  clamp(10px, 1.66vw, 32px);
$mb-sections-mobile: 10vw;
$size-24px-for-mob: 6.2vw;
$light-gray-color: #B4C2C8;
$footer-bg-color: #EFF4F5;
$footer-gray-text: #78898F;
$grey-key-word-color: #78898F;
$active-menu-color: #98A8AE;
$border-radius-17px: clamp(10px, 1.2vw, 24px);