header(class="header")
    img(src="./img/header-vector.png", alt="", class="header__bg")
    div.container.header__wrapper
        a(href="index.html", target="_blank", rel="noopener noreferrer", class="logo") 
            img(src="./img/logo.png", alt="logo")
        nav 
            ul.menu__list
                each value, index in {'Услуги' : '#services', 'Отзывы' : '#commits', 'Сертификация' : '#certificate', 'Карта' : '#map'}
                    li
                        a(href=value, class="menu__item")= index